<script>

  // 操作按钮行为
  function operateFormatter(value, row, index) {
    let exportPaper = ['<button class="btn btn-secondary btn-sm exportBtn" onclick="exportPaper('
    + row.id
    + ')">导出</button>&nbsp;'];
    let btn = ['<button class="btn btn-warning btn-sm updateBtn" onclick="goUpdate(' + row.id
    + ')">指派班级</button>&nbsp;'];
    let detail = ['<button class="btn btn-info btn-sm detailBtn" onclick="goView(' + row.id
    + ')">出卷信息</button>&nbsp;'];
    let delBtn = ['<button class="btn btn-danger btn-sm detailBtn" onclick="goDelete(' + row.id
    + ')">删除试卷</button>&nbsp;'];
    let delBtnLock = ['<button class="btn btn-danger btn-sm detailBtn" disabled onclick="goDelete('
    + row.id
    + ')">删除试卷</button>&nbsp;'];
    let btnLock = ['<button class="btn btn-warning btn-sm" disabled>指派班级</button>&nbsp;'];
    return (row.start || row.end) ? exportPaper + detail + btnLock + delBtnLock.join('') : detail
        + btn
        + delBtn.join(
            '');
  }

  // 试卷状态
  function stateFormatter(value, row, index) {
    if (row.end) {
      return "已结束";
    } else if (row.start) {
      return "考试中";
    } else {
      return "未开始";
    }
  }

  // 模糊搜索参数
  function params(params) {
    return {
      current: params.pageNumber,
      size: params.pageSize,
      paperName: $("#findPaperName").val(),
      courseId: $("#findCourse").val()
    };
  }

  // 初始化表单
  OesUtil.initQueryTable('#paperInfo',
      "/api/paper/list?academyId=${session.admin.academyId}&paperType=正式", "get", [{
        title: '序号',
        field: 'id',
        sortable: false,
        formatter: function (value, row, index) {
          return index + 1;
        }
      }, {
        title: '试卷编号',
        field: 'id',
        sortable: true
      }, {
        title: '名称',
        field: 'paperName',
        sortable: false
      }, {
        title: '状态',
        field: 'major',
        sortable: true,
        formatter: stateFormatter
      }, {
        title: '类型',
        field: 'paperType',
        sortable: false
      }, {
        field: 'operate',
        title: '操作',
        formatter: operateFormatter
      }],
      params
  );

  // 分课程
  $("#findCourse").change(function () {
    OesUtil.refreshTable('#paperInfo');
  });

  // 专业名称模糊搜索
  OesUtil.bindRequest('#findPaperName', '#paperInfo', 200);

  // 教师课程下拉框信息
  $.get("/api/course/list", function (data) {
    let options = "";
    //回填的二级类别值
    $('.courseSelect').empty();
    options += "<option value=''>全部课程</option>";
    $.each(data.list, function (index, e) {
      options += "<option value=" + e.id + ">" + e.courseName + "</option>";
    });
    $(".courseSelect").append(options).val('').select2({theme: 'bootstrap4', width: "250px"});
  });

  // 获取课程信息并启动修改模态框
  function goUpdate(id) {
    $.get("/api/paper/" + id, function (data) {
      $.get("/api/major/" + data.majorId, function (majorData) {
        $('.id').val(data.id);
        $('.paperName').val(data.paperName);
        $('.majorName').val(majorData.major);
        $('.level').val(data.level).select2({theme: 'bootstrap4'});
        $('.gradeIds').val(data.gradeIds);
        $('.majorId').val(data.majorId);
        // 考试已经开始 禁止修改指派
        if (data.start) {
          $('.level').attr("disabled", "disabled")
          $('.gradeIds').attr("readonly", "readonly");
        }
      })
      $("#update-modal").modal({
        show: true,
        backdrop: 'static'
      });
    })
  }

  // 出卷信息
  function goView(id) {
    $.get("/api/paper/" + id, function (data) {
      $.get("/api/teacher/" + data.teacherId, function (teacherData) {
        $('.id').val(data.id);
        $('.teacherWorkNumber').val(teacherData.workNumber);
        $('.teacherName').val(teacherData.name);
        $('.paperName').val(data.paperName);
        $('.startTime').val(data.beginTime);
        $('.endTime').val(data.endTime);
      })
      $("#view-modal").modal({
        show: true,
        backdrop: 'static'
      });
    })
  }

  // 删除
  function goDelete(id) {
    OesUtil.confirm("确定删除试卷『" + id + "』吗?", function () {
      $.post("/api/paper/delete/" + id).done(function (data) {
        if (data.state === "success") {
          OesUtil.refreshTable("#paperInfo");
        } else {
          toastr.error(data.message);
        }
      })
    })
  }

  // 修改修生信息请求
  function updatePaper() {
    OesUtil.confirm("确定指派班级吗?", function () {
      let data = $('#update-form').serialize();
      $.post("/api/paper/update/gradeIds", data).done(function (data) {
        if (data.state === "success") {
          OesUtil.closeModal("#update-modal");
          $('#update-form')[0].reset();
          OesUtil.refreshTable("#paperInfo");
        } else {
          toastr.error(data.message);
        }
      })
    })
  }

  // 导出
  function exportPaper(id) {
    window.location.href = "/api/paper/export/" + id;
  }

</script>