<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 考试列表</title>
    <%include("../include/css.html"){}%>
    <style>
        .table > tbody > tr:hover {
            cursor: pointer;
        }

        .table > tbody > tr > td {
            text-align: center;
        }

        th {
            font-size: 16px;
            text-align: center;
        }

        td {
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>
<body class="hold-transition skin-green sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <%include("../student/include/header.html"){} %>
    <!-- 左侧菜单栏 -->
    <%include("../student/include/sider.html"){}%>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">正式考试</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <%if(paperList != null){%>
                        <tr>
                            <th>序号</th>
                            <th>试卷名称</th>
                            <th>开考时间</th>
                            <th>结束时间</th>
                            <th>操作</th>
                        </tr>
                        <%}%>
                        <%for(paper in paperList){%>
                        <tr class="rowDetail" rel="${paper.id}">
                            <td>${paperLP.index}</td>
                            <td>${paper.paperName}</td>
                            <td>${paper.beginTime}</td>
                            <td>${paper.endTime}</td>
                            <%if(paper.end){%>
                            <td><a class="btn btn-danger btn-sm" disabled>考试已结束</a></td>
                            <%}else if(paper.start){%>
                            <td><a href="/student/${session.studentId}/paper/${paper.id}"
                                   class="btn btn-success btn-sm">进入考试</a></td>
                            <%}else{%>
                            <td><a id="doPaperBtn" class="btn btn-danger btn-sm" disabled>等待考试</a></td>
                            <%}%>
                        </tr>
                        <%}elsefor{%>
                        <tr>
                            <td colspan="6">暂无正式考试</td>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">模拟考试</h3>
                    <div class="box-tools pull-right">
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <%if(practicePaperList != null){%>
                        <tr>
                            <th>序号</th>
                            <th>试卷名称</th>
                            <th>操作</th>
                        </tr>
                        <%}%>
                        <%for(paper in practicePaperList){%>
                        <tr class="rowDetail" rel="${paper.id}">
                            <td>${paperLP.index}</td>
                            <td>${paper.paperName}</td>
                            <td><a class="btn btn-success" id="doPaper"
                                   href="/student/${session.studentId}/paper/${paper.id}">进入考试</a></td>
                        </tr>
                        <%}elsefor{%>
                        <tr>
                            <td colspan="6">暂无模拟考试</td>
                        </tr>
                        <%}%>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- 引入footer -->
    <%include("../include/footer.html"){}%>
</div>
<!-- 引入全局 js 脚本文件 -->
<%include("../include/js.html"){}%>
</body>
</html>


