<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 试卷列表</title>
    <!-- 引入全局 css 文件 -->
    <% include("../../include/css.html"){} %>
    <style>
        .table > tbody > tr:hover {
            cursor: pointer;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        th {
            font-size: 15px;
            text-align: center;
        }

        td {
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 引入头部 -->
    <% include("../../teacher/include/header.html"){} %>
    <!-- 左侧菜单栏 -->
    <% layout("../../teacher/include/sider.html",{name:"paper"}){} %>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">  试卷管理</h3>
                    <div class="box-tools pull-right">
                        <a href="/teacher/paper/import" class="btn btn-primary btn-sm"><i
                                class="fa fa-plus-circle"></i>  导入试题</a>
                        <a id="goSave" class="btn btn-success btn-sm"><i class="fa fa-plus-circle"></i>    随机组卷</a>
                        <a href="/teacher/paperForm" class="btn btn-warning btn-sm"><i class="fa fa-search"></i>
                            查看模版</a>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>序号</th>
                            <th>试卷编号</th>
                            <th>试卷名称</th>
                            <th>试卷状态</th>
                            <th>试卷类型</th>
                            <th>操作</th>
                        </tr>
                        <% if( isEmpty(page.list) ){ %>
                        <tr>
                            <td colspan="6">试卷库中还未添加试卷</td>
                        </tr>
                        <% } %>
                        <% for( paper in page.list ){ %>
                        <tr class="rowDetail" rel="${paper.id}">
                            <td>${paperLP.index}</td>
                            <td>No. ${paper.id}</td>
                            <td>${paper.paperName}</td>
                            <td>
                                <% if(paper.end){ %>
                                已结束
                                <% }else if(paper.start){ %>
                                考试中
                                <% }else{ %>
                                未开始
                                <% } %>
                            </td>
                            <td>${paper.paperType}</td>
                            <td>
                                <button class="btn btn-vk btn-sm viewBtn" onclick="viewPaper(${paper.id})">查看试卷</button>
                            </td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <ul id="pagination-demo" class="pagination-sm pull-right"></ul>
        </section>
    </div>
    <!-- 引入footer -->
    <% include("../../include/footer.html"){} %>
</div>
<!-- 引入全局 js 脚本文件 -->
<% include("../../include/js.html"){} %>
<script src="/static/plugins/jquery-pagination/jquery.twbsPagination.min.js"></script>
<%include("api/list-api.html"){} %>
</body>
</html>


