<script>

    // 删除单个公告
    function deleteAnnounce(id) {
        OesUtil.confirm("确定要删除么？", function () {
            $.get("/api/announce/delete/" + id).done(function (json) {
                if (json.state === "success") {
                    history.go(0);
                } else {
                    toastr.error(json.message);
                }
            })
        })
    }

    // 更新公告
    function updateAnnounce() {
        OesUtil.confirm("确定修改公告吗？", function () {
            let data = $('#update-form').serialize();
            $.post("/api/announce/update", data).done(function (data) {
                if (data.state === "success") {
                    history.go(0);
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 增加公告
    function saveAnnounce() {
        OesUtil.confirm("确定新增公告吗？", function () {
            let data = $("#save-form").serialize();
            $.post("/api/announce/save", data, function (data) {
                if (data.state === "success") {
                    history.go(0);
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 启动修改模态框
    function goUpdate(id) {
        getAnnounce(id);
        $("#updateModal").modal({
            show: true,
            backdrop: 'static'
        });
    }

    // 启动查看模态框
    function goView(id) {
        getAnnounce(id);
        $("#viewModal").modal({
            show: true,
            backdrop: 'static'
        });
    }

    // 启动新增模态框
    function goSave() {
        $("#saveModal").modal({
            show: true,
            backdrop: 'static'
        });
    }

    // 模态框赋值
    function getAnnounce(id) {
        $.get("/api/announce/" + id, function (data) {
            $(".id").val(data.id);
            $(".title").val(data.title);
            $(".author").val(data.authorName);
            $(".content").val(data.content);
        })
    }
</script>