<!-- 增加模态框 -->
<div class="modal fade" id="saveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">更新公告</h4>
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="save-form">
        <div class="modal-body">
          <div class="form-group form_datetime">
            <label>公告标题</label>
            <input type="text" name="title" class="form-control" autocomplete="off">
          </div>
          <div class="form-group form_datetime">
            <label>公告内容</label>
            <textarea type="text" name="content" class="form-control" rows="8"
                      autocomplete="off"></textarea>
          </div>
          <div class="form-group form_datetime">
            <label>发布人</label>
            <input type="text" name="authorName" class="form-control"
                   value="${session.admin.name}" readonly>
            <input type="hidden" name="roleId" class="form-control"
                   value="${session.admin.roleId}">
            <input type="hidden" name="authorId" class="form-control"
                   value="${session.admin.id}">
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="saveAnnounce()">确定</button>
      </div>
    </div>
  </div>
</div>