<div class="modal fade" id="viewModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">公告内容</h4>
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group form_datetime">
          <label for="vid">ID</label>
          <input type="text" name="id" class="form-control id"
                 id="vid" readonly="readonly">
        </div>
        <div class="form-group form_datetime">
          <label for="vtitle">公告标题</label>
          <input type="text" name="title" class="form-control title"
                 id="vtitle" readonly="readonly">
        </div>
        <div class="form-group form_datetime">
          <label for="vcontent">公告内容</label>
          <textarea type="text" name="content" class="form-control content"
                    id="vcontent" rows="8" readonly="readonly"></textarea>
        </div>
        <div class="form-group form_datetime">
          <label for="vauthor">发布人</label>
          <input type="text" name="author" class="form-control author"
                 id="vauthor" readonly="readonly">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default exitBtn" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>