<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <title>OES | 管理员登录</title>
    <!-- 引入全局公共js / css -->
    <% include("../../include/js.html"){} %>
    <!-- 引入全局公共js -->
    <% include("../../include/css.html"){} %>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css"/>
    <script type="text/javascript" src="/static/plugins/jsencrypt/jsencrypt.min.js"></script>
    <script type="text/javascript" src="/static/js/login.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/check.js" charset="UTF-8"></script>
</head>
<body>
<div class="b3"></div>
<div class="admin_login_wrap">
    <h1>OES 在线考试系统</h1>
    <h1 style="margin-top:-30px;margin-bottom: 20px">管理员后台</h1>
    <div class="login">
        <div class="header" style="text-align: center;">
            <label style="font-size:20px;line-height:51px">管理员登录</label>
        </div>
        <div class="web_login" style="margin-top:20px">
            <form method="post" onsubmit="return login_admin()">
                <ul class="reg_form">
                    <li>
                        <div class="">
                        <input type="text" name="adminId" style="width: 100%" value="admin" placeholder="请输入账号"
                               id="adminId" size="35" class="inputstyle2"/>
                        </div>
                    </li>
                    <li>
                        <div class="">
                        <input type="hidden" name="adminPassword"
                               id="adminPassword" size="35"
                               class="inputstyle2"/>
                        <input type="password" style="width: 100%" placeholder="请输入密码" id="encPass" value="123"
                               size="35"
                               class="inputstyle2 encPass"/>
                        </div>
                    </li>
                    <li>
                        <div class="">
                        <input type="button" id="loginBtn" style="width: 100%"
                               class="button_blue" value="立即登录"/>
                        </div>
                    </li>
                    <li>
                        <div class="box-footer">
                            <a class="pull-right" href="/">我是学或教师？点击这里进行登录</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
<!-- 引入footer -->
<% include("../../include/login_footer.html"){} %>
</body>
</html>

<script>
    // 管理员登录
    $('#loginBtn').click(function () {
        // 密码加密
        let enc = encryptPass($('#encPass').val());
        let adminId = $('#adminId').val();
        $.post("/api/admin/login", {"adminId": adminId, "adminPassword": enc}).done(function (data) {
            if (data.state === "success") {
                window.location.href = "/admin/home/" + data.data;
            } else {
                layer.msg(data.message);
            }
        })
    })
</script>
