<script>

    //修改考试时间
    function goUpdate(id) {
        $.get("/api/paper/" + id, function (data) {
            // 模态框赋值
            $('#id').val(data.id);
            $('#paperName').val(data.paperName);
            $('#paperType').val(data.paperType);
            $('#beginTime').val(data.beginTime);
            $('#endTime').val(data.endTime);
        });
        // 打开模态框
        $("#update-modal").modal({
            show: true,
            backdrop: 'static'
        });
    }

    // 起止时间选择器
    $(function () {
        // 起止时间
        OesUtil.dateTimePick("#beginTime", false, false);
        OesUtil.dateTimePick("#endTime", false, false);
    });

    // 修改试卷信息请求
    function updatePaperInfo() {
        OesUtil.confirm("确定修改考试时间么?", function () {
            let data = $("#update-form").serialize();
            $.post("/api/paper/update", data).done(function (data) {
                if (data.state === "success") {
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

</script>