<!-- 修改时间模态框 -->
<div class="modal fade" id="update-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">修改试卷信息</h4>
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span></button>
      </div>
      <form id="update-form">
        <div class="modal-body">
          <div class="form-group form_datetime">
            <input type="hidden" name="id" class="form-control"
                   id="id" readonly="readonly">
          </div>
          <div class="form-group form_datetime">
            <label>试卷类型</label>
            <input type="text" class="form-control"
                   id="paperType" name="paperType" readonly="readonly">
          </div>
          <div class="form-group form_datetime">
            <label>试卷名称</label>
            <input type="text" name="paperName" class="form-control"
                   id="paperName">
          </div>
          <div class="form-group form_datetime">
            <label>开始时间</label>
            <input type="text" name="beginTime" class="form-control" id="beginTime">
          </div>
          <div class="form-group form_datetime">
            <label>结束时间</label>
            <input type="text" name="endTime" class="form-control" id="endTime">
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="updatePaperInfo()">确定</button>
      </div>
    </div>
  </div>
</div>