<script>

    // 删除专业信息
    function deleteMajor(id) {
        OesUtil.confirm('确定删除专业吗?', function () {
            $.post("/api/major/delete/" + id).done(function (data) {
                if (data.state === "success") {
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 获取专业信息并启动修改模态框
    function goUpdate(id) {
        $.get("/api/major/" + id, function (data) {
            $('.id').val(data.id);
            $('.major').val(data.major);
            $('.academyId').val(data.academyId).select2({theme: 'bootstrap4'});
            $("#update-modal").modal({
                show: true,
                backdrop: 'static'
            });
        })
    }


    // 更新专业信息
    function updateMajor() {
        OesUtil.confirm('确定修改信息吗?', function () {
            let data = $('#update-form').serialize();
            $.post("/api/major/update/", data).done(function (data) {
                if (data.state === "success") {
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 启动新增模态框
    function goSave() {
        $("#academyId").select2({theme: "bootstrap4"});
        $("#save-modal").modal({
            show: true,
            backdrop: 'static'
        });
    }

    // 增加专业信息
    function saveMajor() {
        OesUtil.confirm('确定增加专业吗?', function () {
            let data = $('#save-form').serialize();
            $.post("/api/major/save/", data).done(function (data) {
                if (data.state === "success") {
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 分学院搜索
    $("#findAcademy").select2({
        width: "200px",
        theme: 'bootstrap4'
    }).change(function () {
        // 调用接口
        let id = $('#findAcademy').val();
        window.location.href = "/teacher/major?p=1&academyId=" + id
    });

    // 填充学院信息
    $.get("/api/academy").done(function (data) {
        let options = "";
        $('.academySelect').empty();
        options += "<option value=''>全部</option>";
        $.each(data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.name + "</option>";
        });
        $(".academySelect").append(options).val('${curAcademyId}').select2({theme: 'bootstrap4', width: "200px"});
    });
</script>