<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 题目详情</title>
    <!-- 引入全局 css 文件 -->
    <%
    include("../include/css.html"){}
    %>
    <style>
        th {
            font-size: 18px;
        }

        td {
            font-size: 17px;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 引入头部 -->
    <%
    include("../teacher/include/header.html"){}
    %>
    <!-- 左侧菜单栏 -->
    <%
    include("../teacher/include/sider.html"){}
    %>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">题目详情</h3>
                    <div class="box-tools">
                        <!-- 返回使用返回历史的方法 -->
                        <a href="javascript:history.back(-1)" class="btn btn-primary btn-sm"><i
                                class="fa fa-arrow-left"></i> 返回列表</a>
                        <a href="/teacher/question/edit/${question.id}" class="btn bg-purple btn-sm"><i
                                class="fa fa-pencil"></i> 编辑</a>
                        <button id="delBtn" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</button>
                    </div>
                </div>
                <div class="box-body ">
                    <table class="table">
                        <tr class="success">
                            <th>${question.id}. ${question.questionName}</th>
                        </tr>
                        <% if(question.typeId == 1 || question.typeId == 2){ %>
                        <tr>
                            <td class="td_title">A. ${question.optionA}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td_title">B. ${question.optionB}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td_title">C. ${question.optionC}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td_title">D. ${question.optionD}</td>
                            <td></td>
                        </tr>
                        <% } %>
                        <tr>
                            <td class="td_title">题目答案: ${question.answer}</td>
                        </tr>
                        <tr>
                            <td class="td_title">所属课程: ${course.courseName}</td>
                        </tr>
                        <tr>
                            <td class="td_title">难易程度: ${question.difficulty}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="td_title">出题老师: ${course.teacher.name}</td>
                        </tr>
                        <% if(isNotEmpty(question.remark)){ %>
                        <tr>
                            <td class="td_title">答案解析: ${question.remark}</td>
                            <td colspan="5"></td>
                        </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </section>
    </div>
    <!-- 引入footer -->
    <%
    include("../include/footer.html"){}
    %>
</div>
<!-- 引入全局 js 脚本文件 -->
<%
include("../include/js.html"){}
%>
<script src="/static/plugins/layer/layer.js"></script>
<script>

    // 删除试题
    $(function () {
        var questionId = "${question.id}";
        //删除题目
        $("#delBtn").click(function () {
            layer.confirm("确定要删除么？", function () {
                // 删除试题
                $.post("/question/delete/" + questionId).done(function (data) {
                    if (data.state === "success") {
                        layer.msg("删除成功!");
                        window.location.href = "/question";
                    } else {
                        layer.msg(data.message);
                    }
                })
            })
        });
    });
</script>
</body>
</html>

