<!-- 左侧菜单栏 -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- 搜索表单，不需要删除即可 -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                  </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- 菜单 -->
        <ul class="sidebar-menu">
            <li class=""><a
                    href="/teacher/home/${session.teacher.id}"><i class="fa fa-home"></i>
                <span>首页</span></a></li>
            <li class="header">系统功能</li>
            <!-- 消息公告 -->
            <li class="treeview ${name == 'announce'?'active':''}">
                <a href="/teacher/announce/system">
                    <i class="fa fa-commenting ${name == 'announce'?'active':''}"></i> <span>消息公告</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 课程管理 -->
            <li class="treeview ${name == 'course'?'active':''}">
                <a href="/teacher/course/list">
                    <i class="fa fa-book"></i> <span>课程管理</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 专业管理 -->
            <li class="treeview  ${name == 'major'?'active':''}">
                <a href="/teacher/major">
                    <i class="fa fa-mortar-board"></i> <span>专业管理</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 学生管理 -->
            <li class="treeview ${name == 'student'?'active':''}">
                <a href="/teacher/student">
                    <i class="fa fa-user-circle"></i><span>学生管理</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 试题管理 -->
            <li class="treeview  ${name == 'question'?'active':''}">
                <a href="/teacher/question">
                    <i class="fa fa-file-pdf-o"></i> <span>试题管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!-- 试卷管理 -->
            <li class="treeview  ${strutil.contain(name,'paper')?'active':''}">
                <a href="/teacher/paper">
                    <i class="fa fa-book"></i> <span>试卷管理</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 考试管理 -->
            <li class="treeview ${name == 'exam'?'active':''}">
                <a href="/teacher/exam">
                    <i class="fa fa-paper-plane"></i> <span>考试管理</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 试卷复查 -->
            <li class="treeview ${strutil.contain(name,'review')?'active':''}">
                <a href="/teacher/reviewPaper">
                    <i class="fa fa-retweet"></i> <span>试卷复查</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 帮助中心 -->
            <li class="treeview ${name == 'help'?'active':''}">
                <a href="/teacher/help"><i class="fa fa-share-alt"></i>
                    <span>帮助中心</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
