<!-- 左侧菜单栏 -->
<aside class="main-sidebar elevation-4 sidebar-dark-info">
  <!-- Brand Logo -->
  <a href="#" class="brand-link navbar-info">
    <img src="/webjars/AdminLTE/3.0.2/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
         class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">OES 教师端</span>
  </a>


  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/webjars/AdminLTE/3.0.2/dist/img/avatar5.png" class="img-circle elevation-2"
             alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">${session.teacher.name}</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
          data-accordion="false">
        <!-- 首页 -->
        <li class="nav-item">
          <a href="javascript:;" id="home" class="nav-link ${name == 'home'?'active':''}">
            <i class="nav-icon fas fa-globe"></i>
            <p>首页</p>
          </a>
        </li>

        <!-- 系统公告 -->
        <li class="nav-item">
          <a href="javascript:;" id="announce" class="nav-link  ${name == 'announce'?'active':''}">
            <i class="nav-icon fas fa-paper-plane"></i>
            <p>系统公告</p>
          </a>
        </li>

        <!-- 课程管理 -->
        <li class="nav-item">
          <a href="javascript:;" id="course" class="nav-link  ${name == 'course'?'active':''}">
            <i class="nav-icon fas fa-cube"></i>
            <p>我的课程</p>
          </a>
        </li>

        <!-- 试题管理 -->
        <li class="nav-item">
          <a href="javascript:" id="question" class="nav-link  ${name == 'question'?'active':''}">
            <i class="nav-icon fas fa-question-circle"></i>
            <p>试题管理</p>
          </a>
        </li>

        <!-- 试卷管理 -->
        <li class="nav-item">
          <a href="javascript:" id="paper"
             class="nav-link  ${strutil.contain(name,'paper')?'active':''}">
            <i class="nav-icon fas fa-file-alt"></i>
            <p>试卷管理</p>
          </a>
        </li>

        <!-- 试卷分析 -->
        <li class="nav-item">
          <a href="javascript:" id="chart"
             class="nav-link  ${strutil.contain(name,'chart')?'active':''}">
            <i class="nav-icon fas fa-paper-plane"></i>
            <p>试卷分析</p>
          </a>
        </li>

        <!-- 试卷复查 -->
        <li class="nav-item">
          <a href="javascript:" id="review"
             class="nav-link ${strutil.contain(name,'review')?'active':''}">
            <i class="nav-icon fas fa-clipboard-check"></i>
            <p>试卷复查</p>
          </a>
        </li>

        <!-- 帮助中心 -->
        <li class="nav-item">
          <a href="javascript:" id="help" class="nav-link  ${name == 'help'?'active':''}">
            <i class="nav-icon fas fa-user-circle"></i>
            <p>帮助中心</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
