<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">系统功能</li>
            <li class="treeview ${name == 'home'?'active':''}">
                <a href="/admin/home/${session.admin.id}">
                    <i class="fa fa-dashboard"></i> <span>首页</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview  ${strutil.contain(name,'announce')?'active':''}">
                <a href="/admin/announce">
                    <i class="fa fa-dashboard"></i> <span>公告管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview ${name == 'academy'?'active':''}">
                <a href="/admin/academy">
                    <i class="fa fa-university"></i> <span>学院管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview ${name == 'teacher'?'active':''}">
                <a href="/admin/teacher">
                    <i class="fa fa-dashboard"></i> <span>教师管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <li class="treeview ${name == 'admin'?'active':''}">
                <a href="/admin">
                    <i class="fa fa-dashboard"></i> <span>管理员管理</span>
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
        </ul>
    </section>
</aside>