<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>OES | 试卷复核</title>
    <!-- 引入全局 css 文件 -->
    <%include("../../include/css.html"){}%>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 引入头部 -->
    <%include("../include/header.html"){}%>
    <!-- 左侧菜单栏 -->
    <%include("../include/sider.html",{name:"review"}){}%>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>试卷复查</h1>
                    </div>
                </div>
            </div>
        </section>

        <!-- table 部分 -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Horizontal Form -->
                        <div class="card card-info">
                            <div class="card-header">
                                <h3 class="card-title">请选择试卷名称</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            <form class="form-horizontal" method="get" action="/teacher/reviewRes">
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="paperId" class="col-sm-2 control-label">场次</label>
                                        <select class="form-control " id="paperId" name="paperId">
                                            <option value="">请选择</option>
                                            <% for( paper in paperList ){ %>
                                            <option value="${paper.id}">${paper.paperName}</option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <div class="form-check">
                                                <% if(isNotEmpty(message)){ %>
                                                <h4 style="color: red;text-align: center"><b>${message}</b></h4>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button id="search" class="form-control btn btn-success">查找</button>
                                </div>
                                <!-- /.card-footer -->
                            </form>
                        </div>
                        <!-- /.card -->
                    </div>
                </div><!-- /.row -->
            </div>
        </section>
    </div>
    <!-- 引入footer -->
    <%include("../../include/footer.html"){}%>
</div>
<!-- 引入全局 js 脚本文件 -->
<% include("../../include/js.html"){} %>
</body>
<script>
    // select2
    $('#paperId').select2({width: "100%", theme: "bootstrap4"});
</script>
</html>