<script>
  $("#home").click(function () {
    OesUtil.ajaxPage("#home", "/student/home");
  });
  $("#exam").click(function () {
    OesUtil.ajaxPage("#exam", "/student/exam");
  });
  $("#announce").click(function () {
    OesUtil.ajaxPage("#announce", "/student/announce");
  });
  $("#update").click(function () {
    OesUtil.ajaxPage("#update", "/student/update/password");
  });
  $("#help").click(function () {
    OesUtil.ajaxPage("#help", "/student/help");
  });
  $(".score").click(function () {
    OesUtil.ajaxPage(".score", "/student/score");
  });
  $(".chart").click(function () {
    OesUtil.ajaxPage(".chart", "/student/score/chart");
  });
  $(window).on("popstate", function () {
    let state = history.state;
    if (state === null) {
      return;
    }
    OesUtil.ajaxPage(state.active, state.url);
    history.replaceState(state, null, state.url);
  });
</script>