<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 分数列表</title>
    <%include("../../include/css.html"){}%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <%include("../../student/include/header.html"){} %>
    <!-- 左侧菜单栏 -->
    <%layout("../../student/include/sider.html",{name:"myScore-score-list"}){}%>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>成绩列表</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/student/score">成绩列表</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- table 部分 -->
        <section class="content">
            <!-- 模拟考试 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">成绩详情</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive">
                                <table id="scoreInfo" class="table table-bordered table-striped text-nowrap"></table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div><!-- /.row -->
            </div>
        </section>
    </div>
    <!-- 引入footer -->
    <%include("../../include/footer.html"){}%>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<!-- 引入全局 js 脚本文件 -->
<%include("../../include/js.html"){}%>
<!-- 自定义封装 -->
<script src="/static/js/OesUtil.js"></script>
<script src="/static/plugins/jquery-countdown/jquery.countdown.min.js"></script>
<%include("api.html"){}%>
</body>
</html>