<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 分数列表</title>
    <%include("../../include/css.html"){}%>
    <style>
        .table > tbody > tr:hover {
            cursor: pointer;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        th {
            font-size: 16px;
            text-align: center;
        }

        td {
            font-size: 16px;
            text-align: center;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <%include("../../student/include/header.html"){} %>
    <!-- 左侧菜单栏 -->
    <%layout("../../student/include/sider.html",{name:"myScore-score-list"}){}%>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>成绩列表</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/student/score">成绩列表</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- table 部分 -->
        <section class="content">
            <!-- 模拟考试 -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header bg-info">
                                <h3 class="card-title">成绩详情</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover">
                                    <tbody>
                                    <% if(isEmpty(scoreList)){ %>
                                    <tr>
                                        <td colspan="6">暂无成绩</td>
                                    </tr>
                                    <% } %>
                                    <% if(isNotEmpty(scoreList)){ %>
                                    <tr>
                                        <th style="width: 15%">序号</th>
                                        <th style="width: 25%">试卷名称</th>
                                        <th style="width: 10%">考试分数</th>
                                        <th style="width: 25%">错题ID集合</th>
                                        <th style="width: 25%">操作</th>
                                    </tr>
                                    <%for(score in scoreList){%>
                                    <tr class="rowDetail" rel="${score.id}">
                                        <td>${scoreLP.index}</td>
                                        <td>${score.paperName}</td>
                                        <td>${score.score} 分</td>
                                        <td>${score.wrongIds}</td>
                                        <td>
                                            <button onclick="getDetail(${score.id})" class="btn btn-outline-info btn-sm">成绩详情
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div><!-- /.row -->
            </div>
        </section>
    </div>
    <!-- 引入footer -->
    <%include("../../include/footer.html"){}%>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<!-- 引入全局 js 脚本文件 -->
<%include("../../include/js.html"){}%>
<script src="/static/plugins/jquery-countdown/jquery.countdown.min.js"></script>
<%include("api.html"){}%>
</body>
</html>