<!-- jQuery 2.2.3 -->
<script src="/webjars/AdminLTE/3.0.2/plugins/jquery/jquery.min.js"></script>
<!-- Select 2 -->
<script src="/webjars/AdminLTE/3.0.2/plugins/select2/js/select2.min.js"></script>
<!-- SlimScroll -->
<script
    src="/webjars/AdminLTE/3.0.2/plugins/overlayScrollbars/js/OverlayScrollbars.min.js"></script>
<!-- FastClick -->
<script src="/webjars/AdminLTE/3.0.2/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/webjars/AdminLTE/3.0.2/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/webjars/AdminLTE/3.0.2/dist/js/demo.js"></script>
<!-- moment -->
<script src="/webjars/AdminLTE/3.0.2/plugins/moment/moment-with-locales.min.js"></script>
<!-- Toastr -->
<script src="/webjars/AdminLTE/3.0.2/plugins/toastr/toastr.min.js"></script>
<!-- jq-confirm -->
<script src="/static/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<!-- proper -->
<script src="/webjars/AdminLTE/3.0.2/plugins/popper/umd/popper.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>
<!-- bootstrap-table -->
<script src="/webjars/bootstrap-table/1.16.0/dist/bootstrap-table.min.js"></script>
<script src="/webjars/bootstrap-table/1.16.0/dist/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- oesUtil -->
<script src="/static/js/OesUtil.js"></script>
<script src="/static/plugins/jquery-countdown/jquery.countdown.min.js"></script>
<script src="/static/plugins/echarts/echarts.min.js"></script>
<script src="/static/js/wonderland.js"></script>
<!-- iCheck -->
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<!-- 时间选择器 js -->
<script src="/webjars/AdminLTE/3.0.2/plugins/daterangepicker/daterangepicker.js"></script>
<script src="/webjars/AdminLTE/3.0.2/plugins/daterangepicker/moment.min.js"></script>