<div class="modal fade" id="updateModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">修改教师信息</h4>
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="update-form">
        <div class="modal-body">
          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" class="form-control"
                   id="id" readonly="readonly">
          </div>
          <div class="form-group form_datetime">
            <label for="name">姓名</label>
            <input type="text" name="name" class="form-control"
                   id="name">
          </div>
          <div class="form-group form_datetime">
            <label for="workNumber">工号</label>
            <input type="text" name="workNumber" class="form-control"
                   id="workNumber" readonly="readonly">
          </div>
          <div class="form-group">
            <label>所属学院</label>
            <select name="academyId" id="academyId" style="width: 100%" class="academySelect">
              <option>请选择</option>
              <!-- 数据填充 -->
            </select>
          </div>
          <div class="form-group form_datetime">
            <label for="job">职位</label>
            <select id="job" name="job">
              <option value="教授">教授</option>
              <option value="副教授">副教授</option>
              <option value="讲师">讲师</option>
              <option value="高级讲师">高级讲师</option>
            </select>
          </div>
          <div class="form-group form_datetime">
            <label for="sex">性别</label>
            <select id="sex" name="sex" class="form-control" style="width: 100%">
              <option value="男">男</option>
              <option value="女">女</option>
            </select>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="updateTeacher()">确定</button>
      </div>
    </div>
  </div>
</div>