<!-- 顶部导航栏部分 -->
<header class="main-header">
    <a href="#" class="logo">
        <span class="logo-mini"><b>OES</b></span>
        <span class="logo-lg"><b>OES - </b>学生端</span>
    </a>
    <nav class="navbar navbar-static-top">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="/webjars/adminlte/2.3.11/dist/img/avatar5.png" class="user-image"
                             alt="User Image"/>
                        <span class="hidden-xs">学生：${session.student.name}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="/webjars/adminlte/2.3.11/dist/img/avatar5.png" class="img-circle"
                                 alt="User Image"/>
                            <p>
                                <span>${session.student.name} 同学你好！</span> <br/>
                                欢迎使用OES在线考试系统！
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="/student/${session.student.id}/update/pass"
                                   class="btn btn-default btn-flat">个人设置</a>
                            </div>
                            <div class="pull-right">
                                <a href="/student/logout" class="btn btn-default btn-flat">安全退出</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>
