<div class="modal fade" id="save-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">新增课程</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="save-form">
          <div class="table">
            <label for="courseName"></label>
            <input type="text" placeholder="请输入课程名称（长度不能超过20个字）" class="form-control"
                   name="courseName"
                   id="courseName">

            <label for="names"></label>
            <input type="text" placeholder="教师姓名" class="form-control"
                   name="names"
                   id="names">

            <label for="workNumbers"></label>
            <input type="text" placeholder="教师工号" class="form-control"
                   name="workNumbers"
                   id="workNumbers">

            <label for="academyId"></label>
            <select name="academyId" id="academyId" style="width: 100%" class="academySelect">
              <option>请选择</option>
              <!-- 数据填充 -->
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="saveBtn">确定</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->