<!-- 修改专业信息模态框 -->
<div class="modal fade" id="update-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">修改课程指派对象</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="update-form">
          <div class="table">
            <label>ID</label>
            <input type="text" name="id" class="form-control id" readonly="readonly">
          </div>
          <div class="table">
            <label>课程名称</label>
            <input type="text" name="courseName" class="form-control courseName" readonly="readonly">
          </div>
          <div class="table">
            <label>课程所属学院</label>
            <input type="text" name="academyName" class="form-control academyName" readonly="readonly">
          </div>
          <div class="table">
            <label>教师名称</label>
            <input type="text" name="names" class="form-control names">
          </div>
          <div class="table">
            <label>教师工号</label>
            <input type="text" name="workNumbers" class="form-control workNumbers">
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="updateCourse()">确定</button>
      </div>
    </div>
  </div>
</div>