<script>

    // 删除学生
    function deleteStudent(id) {
        OesUtil.confirm("确定删除学生吗?", function () {
            $.post("/api/student/delete/" + id).done(function (data) {
                if (data.state === "success") {
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

    // 触发项目模糊筛选
    $('#findNameBtn').click(function () {
        let id = $('#findAcademy').val();
        let name = $('#findName').val();
        window.location.href = "/teacher/student?academyId=" + id + "&name=" + name
    });

    // 触发搜索学院筛选
    $('#findAcademy').select2({theme: 'bootstrap4'}).change(function () {
        let id = $('#findAcademy').val();
        let name = $('#findName').val();
        window.location.href = "/teacher/student?academyId=" + id + "&name=" + name
    });

    // 获取学院集合
    $.get("/api/academy").done(function (data) {
        let options = "";
        $('.academySelect').empty();
        options += "<option value=''>全部</option>";
        $.each(data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.name + "</option>";
        });
        let curAcademyId = "${curAcademyId}";
        $(".academySelect").append(options).val(curAcademyId).select2({theme: 'bootstrap4'});
    });

    // 获取学生信息
    function goUpdate(id) {
        $.get("/api/student/" + id, function (data) {
            // 赋值
            $('#id').val(data.id);
            $('#name').val(data.name);
            $('#stuNumber').val(data.stuNumber);
            $('#level').val(data.level).select2({theme: 'bootstrap4'});
            $('#sex').val(data.sex).select2({theme: 'bootstrap4'});
            $('#academy').val(data.academy.id).select2({theme: 'bootstrap4'});
            getMajor(data.academy.id, data.major.id);
            // 启动修改模态框
            $("#update-modal").modal({
                show: true,
                backdrop: 'static'
            });
        })
    }

    // 专选择框框回填
    function getMajor(id, majorId) {
        // 获取学院集合
        $.get("/api/major/academy/" + id).done(function (data) {
            let options = "";
            //回填的二级类别值
            $(".majorSelect").empty();
            options += "<option value=''>请选择</option>";
            $.each(data, function (index, e) {
                options += "<option value=" + e.id + ">" + e.major + "</option>";
            });
            $(".majorSelect").append(options).val(majorId).select2({theme: 'bootstrap4'});
        });
    }

    // 修改修生信息请求
    $("#updateBtn").click(function () {
        OesUtil.confirm("确定增加学生吗?", function () {
            let data = $('#update-form').serialize();
            $.post("/api/student/update", data).done(function (data) {
                if (data.state === "success") {
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        })
    });

    // 启动新增模态框
    $("#goSave").click(function () {
        $("#save-modal").modal({
            show: true,
            backdrop: 'static'
        });
        // select2 选择框
        $('.save-sex').select2({theme: 'bootstrap4'});
        $('.save-level').select2({theme: 'bootstrap4'});
    });

    // 新增学生信息请求
    $("#saveBtn").click(function () {
        OesUtil.confirm("确定增加学生吗?", function () {
            let data = $('#save-form').serialize();
            $.post("/api/student/save", data).done(function (data) {
                if (data.state === "success") {
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        })
    });
</script>