<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 课程列表</title>
    <!-- 引入全局 css 文件 -->
    <%
    include("../include/css.html"){}
    %>
    <style>
        .table > tbody > tr:hover {
            cursor: pointer;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        th {
            font-size: 15px;
            text-align: center;
        }

        td {
            font-size: 16px;
            text-align: center;
        }

    </style>


</head>
<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <!-- 引入头部 -->
    <%
    include("include/header.html"){}
    %>
    <!-- 左侧菜单栏 -->
    <%
    include("include/sider.html"){}
    %>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">

        <section class="content">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">课程管理</h3>
                    <div class="box-tools pull-right">
                        <a id="addBtn" class="btn btn-vk btn-sm"><i class="fa fa-plus"></i> 新增课程</a>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>序号</th>
                            <th>课程统一编号</th>
                            <th>课程名称</th>
                            <th>操作</th>
                        </tr>
                        <% if( isEmpty(courseList) ){ %>
                        <td colspan="6">老师您还未添加课程</td>
                        <% }else{ %>
                        <% for( course in courseList ){ %>
                        <tr class="rowDetail" rel="${course.id}">
                            <td>${courseLP.index}</td>
                            <td>${course.id}</td>
                            <td>${course.courseName}</td>
                            <td><a class="rowDel btn btn-danger btn-sm" rel="${course.id}"> 删除</a></td>
                        </tr>
                        <% } %>
                        <% } %>
                        </tbody>
                    </table>
                </div>

            </div>

            <ul id="pagination-demo" class="pagination-sm pull-right"></ul>
        </section>

    </div>
    <!-- 引入footer -->
    <%
    include("../include/footer.html"){}
    %>
    <!-- 新增课程模态框 -->
    <div class="modal fade" id="newCourse">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">新增课程</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="table">
                            <label for="courseName">课程名称</label>
                            <input type="text" class="form-control" name="courseName" id="courseName">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="saveBtn">确定</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 引入全局 js 脚本文件 -->
<%
include("../include/js.html"){}
%>
<script src="/static/plugins/jquery-validation/jquery.validate.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script>
    $(function () {
        $(".rowDel").click(function () {
            var id = $(this).attr("rel");
            layer.confirm("确定删除该课程么?", function () {
                $.get("/teacher/course/del/" + id).done(function (data) {
                    if (data.state === "success") {
                        layer.msg("删除成功!");
                        window.location.href = "/teacher/course/list";
                    } else {
                        layer.msg(data.message);
                    }
                }).error(function () {
                    layer.msg("服务器异常");
                });
            });
        });

        //添加课程
        $("#addBtn").click(function () {
            $("#newCourse").modal({
                show: true,
                backdrop: 'static'
            });
        });

        $("#saveBtn").click(function () {
            const courseName = $("#courseName").val();
            layer.confirm("确定添加该课程?", function () {
                var teacherId = "${session.teacherId}";
                $.get("/teacher/course/new", {"courseName": courseName, "teacherId": teacherId}).done(function (data) {
                    if (data.state === "success") {
                        layer.msg("添加成功!");
                        window.location.href = "/teacher/course/list";
                    }
                }).error(function () {
                    layer.msg("服务器异常");
                });
            });
        });

    });
</script>
</body>
</html>


