<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 修改密码</title>
    <!-- css style -->
    <%include("../include/css.html"){}%>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">
    <!-- 顶部导航栏部分 -->
    <%include("../student/include/header.html"){} %>
    <!-- 左侧菜单栏 -->
    <%layout("../student/include/sider.html",{name:"update-pass"}){}%>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">修改密码</h3>
                </div>
                <div class="box-body">
                    <form method="post" id="change">
                        <div class="form-group">
                            <label for="oldPass">原始密码</label>
                            <input type="password" id="oldPass" name="oldPassword" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password">新密码</label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="confirm_password">确认密码</label>
                            <input type="password" id="confirm_password" name="confirm_password" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="box-footer">
                    <button id="editBtn" class="btn btn-primary">保存</button>
                </div>
            </div>
        </section>
    </div>
    <!-- 引入footer -->
    <%include("../include/footer.html"){}%>
</div>
<!-- 引入全局 js 脚本文件 -->
<%include("../include/js.html"){}%>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/plugins/jquery-validation/jquery.validate.js"></script>
<script>

    // 提交密码
    $(function () {
        $("#editBtn").click(function () {
            let data = $("#change").serialize();
            $.ajax({
                type: "POST",
                data: data,
                success: function (res) {
                    if (res.state === 'success') {
                        window.location.href = "/";
                    } else {
                        layer.msg(res.message);
                    }
                }
            })
        });

        //jqValidate验证
        $("#change").validate({
            errorClass: "text-danger",
            errorElement: "span",
            rules: {
                password: {
                    required: true
                },
                confirm_password: {
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                password: {
                    required: "请输入密码",
                },
                confirm_password: {
                    required: "请再次输入密码",
                    equalTo: "两次密码输入不一致"
                }
            }
        });
    });
</script>
</body>
</html>
