<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 学院列表</title>
    <!-- 引入全局 css 文件 -->
    <% include("../../include/css.html"){} %>
    <style>
        .table > tbody > tr:hover {
            cursor: pointer;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        th {
            font-size: 15px;
            text-align: center;
        }

        td {
            font-size: 16px;
            text-align: center;
        }

    </style>
</head>
<body class="hold-transition skin-purple">
<div class="wrapper">
    <!-- 引入头部 -->
    <% layout("../include/header.html"){} %>
    <% layout("../include/sider.html",{name:'academy'}){} %>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>学院管理</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">公告信息</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <button class="btn btn-success btn-sm" onclick="goSave()"><i class="fa fa-plus"></i> 新增学院</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-bordered table-striped table-head-fixed text-nowrap">
                                    <tbody>
                                    <tr>
                                        <th style="width: 20%">编号</th>
                                        <th style="width: 40%">学院名称</th>
                                        <th style="width: 40%">操作</th>
                                    </tr>
                                    <% if(isEmpty(academyList)){ %>
                                    <tr>
                                        <td colspan="6">没有学院</td>
                                    </tr>
                                    <% } %>
                                    <% for( academy in academyList){ %>
                                    <tr class="rowDetail" rel="${academy.id}">
                                        <td>${academyLP.index}</td>
                                        <td hidden="hidden">${academy.id}</td>
                                        <td>${academy.name}</td>
                                        <td>
                                            <button class="btn btn-success btn-sm goUpdate"
                                                    onclick="goUpdate(${academy.id})"><i
                                                    class="fa"></i>编辑
                                            </button>
                                            <button class="btn btn-sm btn-danger"
                                                    onclick="deleteAcademy(${academy.id}) "><i
                                                    class="fa"></i>删除
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.row -->
        </section>
    </div>
    <!-- 增加模态框 -->
    <%include("save-modal.html"){} %>
    <!-- 修改学生信息模态框 -->
    <%include("update-modal.html"){} %>
    <!-- 引入全局 js 脚本文件 -->
    <% include("../../include/js.html"){} %>
    <!-- 自定義工具 -->
    <script src="/static/js/OesUtil.js"></script>
    <!-- 接口 -->
    <% include("api.html"){} %>
</div>
</body>
</html>


