<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>学院管理</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">学院信息</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <button class="btn btn-primary btn-sm" onclick="goSave()">新增学院</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <!-- bootstrap table 渲染 -->
                        <table id="academyInfo" class="table table-bordered table-striped text-nowrap"></table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div><!-- /.row -->
</section>
<!-- 增加模态框 -->
<%include("save-modal.html"){} %>
<!-- 修改学生信息模态框 -->
<%include("update-modal.html"){} %>
<!-- 接口 -->
<% include("api.html"){} %>

