<!-- 增加学院信息模态框 -->
<div class="modal fade" id="saveModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">增加学院</h4>
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="save-form">
          <div class="form-group form_datetime">
            <label>学院名称</label>
            <input type="text" name="name" class="form-control">
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" id="saveBtn">确定</button>
        </div>
      </div>
    </div>
  </div>
</div>