<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>OES_学生|教师登录</title>
    <!-- 引入全局公共js / css -->
    <%
        include("include/js.html"){}
    %>
    <!-- 引入全局公共js -->
    <%
    include("include/css.html"){}
    %>
    <!-- 登录页面的样式和加密脚本 -->
    <link href="/static/css/login.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/static/plugins/jsencrypt/jsencrypt.min.js"></script>
    <script type="text/javascript" src="/static/js/login.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/check.js" charset="UTF-8"></script>
    <script>
        $(function () {
            const func = function () {
                $('#switch_login').removeClass("switch_btn").addClass('switch_btn_focus');
                $('#switch_qlogin').removeClass("switch_btn_focus").addClass('switch_btn');
                $('#switch_bottom').animate({
                    left: '154px',
                    width: '64px'
                });
                $('#qlogin').css('display', 'block');
                $('#web_qr_login').css('display', 'none');
                $('.b2').animate({
                    opacity: '0',
                }, 1000);
                $('.b1').animate({
                    opacity: '1',
                }, 500);
            };
        });
    </script>
</head>
<body>
<h1>OES 在线考试系统</h1>
<h1 style="margin-top:-30px;margin-bottom: 20px">师生登录</h1>
<div class="login" style="margin-top:50px;">
    <div class="header">
        <div class="switch" id="switch">
            <a class="switch_btn_focus" id="switch_qlogin" href="javascript:;">学生登录</a>
            <a class="switch_btn" id="switch_login" href="javascript:;">老师登录</a>
            <div class="switch_bottom" id="switch_bottom" style="position: absolute; width: 64px; left: 0px;"></div>
        </div>
    </div>
    <!--学生登录-->
    <div class="web_qr_login" id="web_qr_login" style="display: block;">
        <div class="web_login">
            <form name="student_login" id="student_login" method="post">
                <div>
                    <p class="login-box-msg cue">${message!"请输入学号和密码进行登录"}</p>
                </div>
                <ul class="reg_form">
                    <li>
                        <div class="">
                            <input type="text" id="studentId" name="studentId" value="201601" style="width: 100%"
                                   maxlength="16" placeholder="请输入账号"
                                   class="inputstyle2"/>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <input type="password" value="123" placeholder="请输入密码"
                                   maxlength="16" class="inputstyle2 encPass" style="width: 100%"/>
                            <input type="password" id="studentPassword" name="studentPassword"
                                   maxlength="16" class="inputstyle2 realPass" hidden="hidden"/>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <input type="button" id="stuLogin" style="width: 100%"
                                   class="button_blue " value="立即登录"/>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <a class="pull-right" href="/admin/login">我是管理员？点击这里进行登录</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!--学生登录end-->
    <!--老师登录-->
    <div class="qlogin" id="qlogin" style="display: none; ">
        <div class="web_login">
            <form name="teacher_login" id="regUser" action="/teacher/login"
                  method="post" onsubmit="return login_teacherID_username()">
                <p class="login-box-msg cue">${message_tea!"请输入职工号和密码进行登录"}</p>
                <ul class="reg_form" id="reg-ul">
                    <li>
                        <div class="">
                            <input style="width: 100%" placeholder="请输入职工号" type="text" id="teacherId" name="teacherId"
                                   value="123" maxlength="16"
                                   class="inputstyle2"/>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <input type="password" id="teacherPassword" name="teacherPassword"
                                   hidden="hidden" maxlength="16" class="realPass"/>
                        </div>
                        <input type="password" value="123" style="width: 100%" placeholder="请输入密码"
                               maxlength="16" class="inputstyle2 encPass"/>
                    </li>
                    <li>
                        <div class="">
                            <input type="submit" id="reg" style="width: 100%"
                                   class="button_blue" value="立即登录"/>
                        </div>
                    </li>
                    <li>
                        <div class="">
                            <a class="pull-right" href="/admin/login">我是管理员？点击这里进行登录</a>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <!--老师登录end-->
</div>
<div class="b1"></div>
<div class="b2"></div>
<%
    include("include/login_footer.html"){}
%>
<script src="/static/plugins/layer/layer.js"></script>
</body>

<script>
    // 学生登录
    $('#stuLogin').click(function () {
        // 密码加密
        login_studentID_username();
        $.post("/student/login", $('#student_login').serialize()).done(function (data) {
            if (data.state === "success") {
                window.location.href = "/student/home/" + data.data;
            } else {
                layer.msg(data.message);
            }
        }).error(function () {
            layer.msg("系统异常...");
        });
    })
</script>
