<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 学生首页</title>
    <!-- 引入全局 css 文件 -->
    <%include("../../include/css.html"){}%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- 引入头部 -->
    <% include("../include/header.html"){} %>
    <!-- 左侧菜单栏 -->
    <% layout("../include/sider.html",{name:"home"}){} %>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>教师首页</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">教师首页</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- table 部分 -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="callout callout-info">
                            <h5><i class="fa fa-info"></i>&nbsp;${session.teacher.name}老师，你好：</h5>
                            欢迎使用 On-line Examination System 在线考试系统
                        </div>
                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="invoice-title">
                                <div class="col-12">
                                    <h4>
                                        <i class="fa fa-book"></i> 功能概述
                                    </h4>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- info row -->
                            <div class="col-12 table-responsive">
                                <table class="table table-light">
                                    <thead>
                                    <tr>
                                        <th>教师端包含如下功能：</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>一、查询系统公告</td>
                                    </tr>
                                    <tr>
                                        <td>二、课程统一管理</td>
                                    </tr>
                                    <tr>
                                        <td>三、全校专业统一管理</td>
                                    </tr>
                                    <tr>
                                        <td>四、学生信息统一管理</td>
                                    </tr>
                                    <tr>
                                        <td>五、发布、Excel 导入、修改、删除试题</td>
                                    </tr>
                                    <tr>
                                        <td>六、发布、Excel 导入、修改、删除考试</td>
                                    </tr>
                                    <tr>
                                        <td>七、学生成绩复查、修改分数</td>
                                    </tr>
                                    <tr>
                                        <td>八、未发布考试时间修改、删除</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- 引入footer -->
    <%include("../../include/footer.html"){}%>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<!-- 引入全局 js 脚本文件 -->
<% include("../../include/js.html"){} %>
</body>
</html>

