<script>

  // 操作按钮行为
  function operateFormatter(value, row, index) {
    return ['<button class="btn btn-sm btn-warning" onclick="restPassword(' + row.id
    + ') ">重置密码</button>\n' + '<button class="btn btn-success btn-sm" onclick="goUpdate(' + row.id
    + ')">编辑</button>&nbsp;' +
    '<button class="btn btn-danger btn-sm" onclick="deleteStudent(' + row.id + ')">删除</button>' +
    '']
    .join('');
  }

  // 模糊搜索参数
  function params(params) {
    return {
      current: params.pageNumber,
      size: params.pageSize,
      academyId: $('#findAcademy').val(),
      key: $("#findKey").val()
    };
  }

  // 初始化表单
  OesUtil.initQueryTable('#studentInfo', "/api/student/list", "get", [{
        title: '序号',
        field: 'id',
        sortable: false,
        formatter: function (value, row, index) {
          return index + 1;
        }
      }, {
        title: '姓名',
        field: 'name',
        sortable: true
      }, {
        title: '学号',
        field: 'stuNumber',
        sortable: true
      }, {
        title: '年级',
        field: 'level',
        sortable: true
      }, {
        title: '所属学院',
        field: 'academy.name',
        sortable: true
      }, {
        title: '专业',
        field: 'major.major',
        sortable: true
      }, {
        title: '性别',
        field: 'sex',
        sortable: false
      }, {
        field: 'operate',
        title: '操作',
        formatter: operateFormatter
      }],
      params
  );

  // 分学院搜索
  $("#findAcademy").change(function () {
    OesUtil.refreshTable('#studentInfo');
  });

  // 专业名称模糊搜索
  OesUtil.bindRequest('#findKey', '#studentInfo', 200);

  // 删除学生
  function deleteStudent(id) {
    OesUtil.confirm("确定删除学生吗?", function () {
      $.post("/api/student/delete/" + id).done(function (data) {
        if (data.state === "success") {
          OesUtil.refreshTable('#studentInfo');
        } else {
          toastr.error(data.message);
        }
      })
    })
  }

  // 填充学院信息
  $.get("/api/academy").done(function (data) {
    let options = "";
    $('.academySelect').empty();
    options+="<option value=''>" + "全部" + "</option>";
    $.each(data, function (index, e) {
      if ("${session.admin.academyId}".length === 0) {
        options += "<option value=" + e.id + ">" + e.name + "</option>";
      } else if (parseInt("${session.admin.academyId}") === e.id) {
        options += "<option value=" + e.id + ">" + e.name + "</option>";
      }
    });
    $(".academySelect").append(options).val('').select2({theme: 'bootstrap4'});
  });

  // 获取学生信息
  function goUpdate(id) {
    $.get("/api/student/" + id, function (data) {
      // 赋值
      $('#id').val(data.id);
      $('#name').val(data.name);
      $('#stuNumber').val(data.stuNumber);
      $('#level').val(data.level);
      $('#sex').val(data.sex).select2({theme: 'bootstrap4'});
      $('#academyId').val(data.academy.id).select2({theme: 'bootstrap4'});
      getMajor(data.academy.id, data.major.id);
      // 启动修改模态框
      $("#update-modal").modal({
        show: true,
        backdrop: 'static'
      });
    })
  }

  // 专选择框框回填
  function getMajor(id, majorId) {
    // 获取学院集合
    $.get("/api/major/academy/" + id).done(function (data) {
      let options = "";
      //回填的二级类别值
      $(".majorSelect").empty();
      options += "<option value=''>请选择</option>";
      $.each(data, function (index, e) {
        options += "<option value=" + e.id + ">" + e.major + "</option>";
      });
      $(".majorSelect").append(options).val(majorId).select2({theme: 'bootstrap4'});
    });
  }

  // 班级择框框回填
  function getGrade(level) {
    $.get("/api/grade/list?level=" + level+"&majorId="+$(".majorSelect").val()).done(function (data) {
      let options = "";
      $(".gradeSelect").empty();
      options += "<option value=''>请选择</option>";
      $.each(data.list, function (index, e) {
        options += "<option value=" + e.id + ">" + e.gradeName + "</option>";
      });
      $(".gradeSelect").append(options).select2({theme: 'bootstrap4'});
    });
  }

  // 修改修生信息请求
  $("#updateBtn").click(function () {
    OesUtil.confirm("确定增加学生吗?", function () {
      let data = $('#update-form').serialize();
      $.post("/api/student/update", data).done(function (data) {
        if (data.state === "success") {
          OesUtil.closeModal("#update-modal");
          $('#update-form')[0].reset();
          OesUtil.refreshTable("#studentInfo");
        } else {
          toastr.error(data.message);
        }
      })
    })
  });

  // 启动新增模态框
  function goSave() {
    $("#save-modal").modal({
      show: true,
      backdrop: 'static'
    });
    // select2 选择框
    $('.save-sex').select2({theme: 'bootstrap4'});
    $('.save-level').select2({theme: 'bootstrap4'});
  }

  // 新增学生信息请求
  $("#saveBtn").click(function () {
    OesUtil.confirm("确定增加学生吗?", function () {
      let data = $('#save-form').serialize();
      $.post("/api/student/save", data).done(function (data) {
        if (data.state === "success") {
          OesUtil.closeModal("#save-modal");
          $('#save-form')[0].reset();
          OesUtil.refreshTable("#studentInfo");
        } else {
          toastr.error(data.message);
        }
      })
    })
  });

  // 重置密码
  function restPassword(id) {
    OesUtil.confirm("确定重置「" + id + " 」学生的密码吗?", function () {
      $.post("/api/student/restPassword/" + id).done(function (data) {
        if (data.state === "success") {
          OesUtil.refreshTable("#studentInfo");
          toastr.success("重置成功，新密码：123456");
        } else {
          toastr.error(data.message);
        }
      })
    });
  }

  // 启动导入试题模态框
  $("#importBtn").click(function () {
    $("#importModal").modal({
      show: true,
      backdrop: 'static'
    });
  });

  // 自动上传
  $('body').on('change', '#upload', function () {
    let formData = new FormData();
    let files = $($(this))[0].files[0];
    formData.append("file", files);
    toastr.info('正在提交，请稍后查看');
    $.ajax({
      url: '/api/student/import',
      type: 'POST',
      data: formData,
      processData: false,
      contentType: false,
      success: function (res) {
        if (res.state === "success") {
          toastr.success('学生数据解析成功，完成导入');
          $(this).delay(800).queue(function () {
            OesUtil.closeModal("#importModal");
            $('#importPaper')[0].reset();
            OesUtil.refreshTable("#studentInfo");
          })
        } else {
          toastr.error(res.message);
        }
      }
    });
  });
</script>