<!-- 修改学生信息模态框 -->
<div class="modal fade" id="update-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">修改学生信息</h4>
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="update-form">
          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" class="form-control"
                   id="id" readonly="readonly">
          </div>
          <div class="form-group form_datetime">
            <label for="name">姓名</label>
            <input type="text" name="name" class="form-control"
                   id="name">
          </div>
          <div class="form-group form_datetime">
            <label for="stuNumber">学号</label>
            <input type="text" name="stuNumber" class="form-control"
                   id="stuNumber" readonly="readonly">
          </div>
          <div class="form-group form_datetime">
            <label for="academyId">学院</label>
            <select id="academyId" name="academy" class="form-control academySelect"
                    style="width: 100%"
                    onchange="getMajor(this.value,null)">
              <!-- 填入数据 -->
            </select>
          </div>
          <div class="form-group form_datetime">
            <label for="major">专业</label>
            <select id="major" class="form-control majorSelect" name="majorId" style="width: 100%"
                    aria-selected="">
              <!-- 填入数据 -->
            </select>
          </div>
          <div class="form-group form_datetime">
            <label for="level">年级</label>
            <input id="level" name="level" class="form-control level" style="width: 100%"
                   readonly="readonly"/>
          </div>
          <div class="form-group form_datetime">
            <label for="sex">性别</label>
            <select id="sex" name="sex" class="form-control sex" style="width: 100%">
              <option value="男">男</option>
              <option value="女">女</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="updateBtn">确定</button>
      </div>
    </div>
  </div>
</div>