<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 试卷详情</title>
    <!-- 引入全局 css 文件 -->
    <%include("../../include/css.html"){} %>
    <style>
        th {
            font-size: 18px;
        }

        td {
            font-size: 17px;
        }
    </style>
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">
    <!-- 引入头部 -->
    <%include("../include/header.html"){}%>
    <!-- 右侧内容部分 -->
    <div class="content">
        <section class="content">
            <div class="box">
                <div class=" with-border text-center">
                    <h3 class="title">${paper.paperName}</h3>
                    <h5>
                        <div class="clock"> 距离考试结束: <span class="clock" style="color: #af0000" id="clock">xx分xx秒</span>
                        </div>
                    </h5>
                </div>
                <div class="box-body">
                    <form id="paper" method="post">
                        <ul class="list-group">
                            <!--单选题-->
                            <%if(isNotEmpty(qChoiceList)){%>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">单选题</h4>
                                </div>
                                <div class="panel-body">
                                    <%for(choice in qChoiceList){%>
                                    ${choiceLP.index}. ${choice.questionName}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="${choice.id}" required value="A">
                                            A. <span style="display: inline-block;">${choice.optionA} </span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="${choice.id}" required value="B">
                                            B. <span style="display: inline-block;">${choice.optionB}</span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="${choice.id}" required value="C">
                                            C. <span style="display: inline-block;">${choice.optionC}</span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="${choice.id}" required value="D">
                                            D. <span style="display: inline-block;">${choice.optionD}</span>
                                        </label>
                                    </div>
                                    <hr/>
                                    <%}%>
                                </div>
                            </div>
                            <%}%>
                            <!-- 多选题 -->
                            <%if(isNotEmpty(qChoiceList)){%>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">多选题 <small>(不选、错选、漏选均不得分)</small></h4>
                                </div>
                                <div class="panel-body">
                                    <%for(qMulChoice in qMulChoiceList){%>
                                    ${qMulChoiceLP.index}. ${qMulChoice.questionName}
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="${qMulChoice.id}" value="A">
                                            A. <span style="display: inline-block;">${qMulChoice.optionA}</span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="${qMulChoice.id}" value="B">
                                            B. <span style="display: inline-block;">${qMulChoice.optionB}</span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="${qMulChoice.id}" value="C">
                                            C. <span style="display: inline-block;">${qMulChoice.optionC}</span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="${qMulChoice.id}" value="D">
                                            D. <span style="display: inline-block;">${qMulChoice.optionD}</span>
                                        </label>
                                    </div>
                                    <hr/>
                                    <%}%>
                                </div>
                            </div>
                            <%}%>
                            <!--判断题-->
                            <%if(isNotEmpty(qTofList)){%>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">判断题</h4>
                                </div>
                                <div class="panel-body">
                                    <%for(question in qTofList){%>
                                    ${questionLP.index}. ${question.questionName}
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="${question.id}" required value="对">
                                            A. 对<span style="display: inline-block;"></span>
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="${question.id}" required value="错">
                                            B. 错<span style="display: inline-block;"></span>
                                        </label>
                                    </div>
                                    <hr/>
                                    <%}%>
                                </div>
                            </div>
                            <%}%>
                            <!--填空题-->
                            <%if(isNotEmpty(qFillList)){%>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">填空题</h4>
                                </div>
                                <div class="panel-body">
                                    <%for(question in qFillList){%>
                                    ${questionLP.index}. ${question.questionName}
                                    <div class="form-group">
                                        <label>答案</label>
                                        <input type="text" name="${question.id}" class="form-control"
                                               οnpaste="return false">
                                    </div>
                                    <%}%>
                                </div>
                            </div>
                            <%}%>
                            <!--简答题-->
                            <%if(isNotEmpty(qSaqList)){%>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">简答题</h4>
                                </div>
                                <div class="panel-body">
                                    <%for(question in qSaqList){%>
                                    ${questionLP.index}. ${question.questionName}
                                    <div class="form-group">
                                        <label>答案</label>
                                        <input type="text" name="${question.id}" class="form-control"
                                               οnpaste="return false">
                                    </div>
                                    <hr/>
                                    <%}%>
                                </div>
                            </div>
                            <%}%>
                            <!--编程题-->
                            <%if(isNotEmpty(qProgramList)){%>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">编程题</h4>
                                </div>
                                <div class="panel-body">
                                    <%for(question in qProgramList){%>
                                    ${questionLP.index}. ${question.questionName}
                                    <div class="form-group">
                                        <label>答案</label>
                                        <input type="text" name="${question.id}" class="form-control"
                                               οnpaste="return false">
                                    </div>
                                    <hr/>
                                    <%}%>
                                </div>
                            </div>
                            <%}%>
                        </ul>
                        <button id="submitBtn" class="btn btn-success pull-right">提交答案</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <!-- 底部 -->
</div>
<!-- 引入全局 js 脚本文件 -->
<% include("../../include/js.html"){} %>
<script src="/static/plugins/moment/moment.js"></script>
<script src="/static/plugins/jquery-countdown/jquery.countdown.min.js"></script>
<%include("api.html"){}%>
</body>
</html>

