<!-- 修改专业信息模态框 -->
<div class="modal fade" id="update-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">修改专业信息</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="update-form">
          <div class="table">
            <label for="id">ID</label>
            <input type="text" name="id" class="form-control id"
                   id="id" readonly="readonly">
          </div>
          <div class="table">
            <label for="academy">所属学院</label>
            <select id="academy" name="academyId" style="width: 100%"
                    class="academyId academySelect">
              <option value="">请选择</option>
              <!-- 数据填充 -->
            </select>
          </div>
          <div class="table">
            <label for="major">专业名称</label>
            <input type="text" name="major" class="form-control major"
                   id="major">
          </div>
        </form>
      </div>
      <div class="modal-footer justify-content-end">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" onclick="updateMajor()">确定</button>
      </div>
    </div>
  </div>
</div>