<!-- 左侧菜单栏 -->
<aside class="main-sidebar">
    <section class="sidebar">
        <!-- 菜单 -->
        <ul class="sidebar-menu">
            <li class=""><a
                    href="/student/home/${session.studentId}"><i class="fa fa-home active"></i>
                <span>首页</span></a>
            </li>
            <li class="header">系统功能</li>
            <!-- 消息公告 -->
            <li class="treeview">
                <a href="/student/announce/system">
                    <i class="fa fa-address-book-o"></i> <span>消息公告</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 我的考试 -->
            <li class="treeview">
                <a href="/student/exam">
                    <i class="fa fa-file-text"></i> <span>我的考试</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
            </li>
            <!-- 我的成绩 -->
            <li class="treeview">
                <a href="/student/score/${session.studentId}">
                    <i class="fa fa-print"></i> <span>我的成绩</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i></span>
                </a>
            </li>
            <!-- 成绩分析 -->
            <li class="treeview">
                <a href="">
                    <i class="fa fa-pie-chart"></i> <span>成绩分析</span>
                    <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    <li class=""><a
                            href="/score/student/chart"><i
                            class="fa fa-circle-o"></i> 我的分析</a></li>
                </ul>
            </li>
            <li class="">
                <a href="/student/help"><i class="fa fa-share-alt"></i> <span>帮助中心</span></a>
            </li>
        </ul>
    </section>
</aside>