<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <title>OES | 学生成绩分析</title>
  <!-- 引入全局 css 文件 -->
  <% include("../../include/css.html"){} %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- 顶部导航栏部分 -->
  <%include("../../student/include/header.html"){} %>
  <!-- 左侧菜单栏 -->
  <%layout("../../student/include/sider.html",{name:"myScore-chart-list"}){}%>
  <!-- 引入全局 js 脚本文件 -->
  <% include("../../include/js.html"){} %>
  <div class="content-wrapper">
    <%
    #ajax chartTable: {
    %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>成绩分析</h1>
          </div>
        </div>
      </div>
    </section>


    <!-- table 部分 -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <div id="main" style="height: 500px;width: 100%"></div>
                </table>
              </div>
            </div>
            <!-- /.card -->
          </div>

          <div class="col-6">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <div id="chart" style="height: 500px;width: 100%"></div>
                </table>
              </div>
            </div>
            <!-- /.card -->
          </div>

        </div><!-- /.row -->
      </div>
    </section>
    <%include("api.html"){}%>
    <%}%>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- 引入footer -->
  <% include("../../include/footer.html"){}%>
  <%include("../main/api.html"){}%>
  <!-- Control Sidebar -->
</div>
</body>
</html>

