<script>

    // 删除管理员
    function deleteAdmin(id) {
        OesUtil.confirm("确定删除管理员吗?", function () {
            $.post("/api/admin/delete/" + id).done(function (data) {
                if (data.state === "success") {
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        });
    }

    // 打开模态框
    function goSave() {
        $("#save-modal").modal({
            show: true,
            backdrop: 'static'
        });
    }

    // 新增管理员
    function saveAdmin() {
        OesUtil.confirm("确定新增管理员吗?", function () {
            let data = $('#save-form').serialize();
            $.post("/api/admin/save", data).done(function (data) {
                if (data.state === "success") {
                    layer.msg("增加成功!");
                    window.location.reload();
                } else {
                    toastr.error(data.message);
                }
            })
        })
    }

</script>