<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OES | 管理员端</title>
  <% include("../../include/css.html"){}%>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <% include("../../admin/include/header.html"){} %>
  <!-- 左侧菜单栏 -->
  <% layout("../../admin/include/sider.html",{name:"admin"}){} %>
  <!-- 引入全局 js 脚本文件 -->
  <% include("../../include/js.html"){} %>
  <!-- 右侧内容部分 -->
  <div class="content-wrapper">
    <%
    #ajax adminTable: {
    %>
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>管理员管理</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">管理员列表</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button class="btn btn-primary btn-sm" onclick="goSave()">新增管理员</button>&nbsp;
                    <button class="btn btn-default btn-sm"
                            onclick="OesUtil.refreshTable('#adminInfo');">刷新数据
                    </button>
                  </div>
                </div>
              </div>

              <!-- 条件查询框 -->
              <div class="card-header">
                <div class="card-tools">
                  <div class="row">
                    <div class="col-sm-6">
                      <input id="findKey" class="form-control "
                             style="width: 200px" placeholder="姓名或用户名">
                    </div>
                  </div>
                </div>
              </div>

              <div class="card-body table-responsive">
                <!-- bootstrap table 渲染 -->
                <table id="adminInfo"
                       class="table table-bordered table-striped text-nowrap"></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- 增加模态框 -->
    <%include("save-modal.html"){} %>
    <!-- 接口 -->
    <% include("api.html"){} %>
    <%}%>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
  <!-- 引入footer -->
  <% include("../../include/footer.html"){}%>
  <%include("../main/api.html"){}%>
</div>
</body>
</html>


