<script>
    // 启动查看模态框
    function goView(id) {
        $("#view-modal").modal({
            show: true,
            backdrop: 'static'
        });
        $.get("/api/question/" + id, function (data) {
            $(".questionName").val(data.questionName);
            $(".answer").val(data.answer);
            $(".course").val(data.course.courseName);
            $(".teacherName").val(data.course.teacher.name);
            $(".remark").val(data.remark);
        })
    }

    // 打开更新题目模态框
    function goUpdate(id) {
        $.get("/api/question/" + id, function (data) {
            // 填充基本信息
            $("#questionName").val(data.questionName);
            $("#answer").val(data.answer);
            $("#course").val(data.course.courseName);
            $("#difficulty").val(data.difficulty).select2({width: "100%", theme: 'bootstrap4'});
            $("#teacherName").val(data.course.teacher.name);
            $("#optionA").val(data.optionA);
            $("#optionB").val(data.optionB);
            $("#optionC").val(data.optionC);
            $("#optionD").val(data.optionD);
            $("#remark").val(data.remark);
            $("#id").val(data.id);
            $("#typeId").val(data.id).select2({width: "100%", theme: 'bootstrap4'});
        });

        // 打开模态框
        $("#update-modal").modal({
            show: true,
            backdrop: 'static'
        });
    }

    // 试题类型下拉框信息
    $.get("/api/type", function (data) {
        let options = "";
        //回填的二级类别值
        $('.typeSelect').empty();
        options += "<option value=''>全部</option>";
        $.each(data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.typeName + "</option>";
        });
        $(".typeSelect").append(options).val('${curTypeId}').select2({theme: 'bootstrap4', width: "250px"});
    });

    // 教师课程下拉框信息
    $.get("/api/course/teacher/" + "${session.teacher.id}", function (data) {
        let options = "";
        //回填的二级类别值
        $('.courseSelect').empty();
        options += "<option value=''>全部</option>";
        $.each(data, function (index, e) {
            options += "<option value=" + e.id + ">" + e.courseName + "</option>";
        });
        $(".courseSelect").append(options).val('${curCourseId}').select2({theme: 'bootstrap4', width: "250px"});
    });

    // 启动新增模态框
    $(".goSave").click(function () {
        $(".difficulty").select2({theme: 'bootstrap4', width: "100%"});
        $("#save-course").select2({theme: 'bootstrap4', width: "100%"});
        $("#save-type").select2({theme: 'bootstrap4', width: "100%"});
        $("#save-modal").modal({
            show: true,
            backdrop: 'static'
        });
    });

    // 更新题目
    function updateQuestion() {
        let data = $("#update-form").serialize();
        $.post("/api/question/update", data, function (data) {
            if (data.state === "success") {
                layer.msg("修改成功");
                window.location.reload();
            } else {
                layer.msg(data.message);
            }
        })
    }

    // 新增题目
    function saveQuestion() {
        let data = $("#save-form").serialize();
        $.post("/api/question/save", data, function (data) {
            if (data.state === "success") {
                layer.msg("增加成功");
                window.location.reload();
            } else {
                layer.msg(data.message);
            }
        })
    }


    // 删除题目
    function deleteQuestion(id) {
        layer.confirm("确定要删除么？", function () {
            $.post("/api/question/delete/" + id, function (data) {
                if (data.state === "success") {
                    layer.msg("删除成功");
                    window.location.reload();
                } else {
                    layer.msg(data.message);
                }
            })
        });
    }

    // 启动导入试题模态框
    $("#importBtn").click(function () {
        $("#importModal").modal({
            show: true,
            backdrop: 'static'
        });
    });

    // 自动上传
    $('body').on('change', '#upload', function () {
        var formData = new FormData();
        var files = $($(this))[0].files[0];
        formData.append("file", files);
        layer.msg('正在提交中....');
        $.ajax({
            url: '/api/question/import',
            type: 'POST',
            data: formData,
            processData: false,
            contentType: false,
            success: function (res) {
                if (res.state === "success") {
                    layer.msg('题目解析成功，完成导入');
                    window.location.reload();
                } else {
                    layer.msg(res.message);
                    window.location.reload();
                }
            }
        });
    });

    // 进入试题详细信息
    $(function () {
        // 问题类型筛选
        $("#findType").select2().change(function () {
            window.location.href = "/teacher/question?p=1&courseId=" + "${curCourseId}" + "&typeId=" + $(this).val()
        })

        // 课程筛选
        $("#findCourse").select2().change(function () {
            window.location.href = "/teacher/question?p=1&courseId=" + $(this).val() + "&typeId=" + "${curTypeId}";
        });

    });
</script>