<!-- 增加学生信息模态框 -->
<div class="modal fade" id="importModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">导入题目</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form method="post" id="importPaper">
                        <div class="form-group">
                            <label for="upload">导入试卷 </label>
                            <input class="form-control btn btn-flat btn-warning btn-sm" style="border: none" type="file"
                                   name="upload"
                                   id="upload"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>