<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 题目列表</title>
    <!-- 引入全局 css 文件 -->
    <% include("../../include/css.html"){} %>
</head>
<style>
    .table > tbody > tr:hover {
        cursor: pointer;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 引入头部 -->
    <%include("../../teacher/include/header.html"){}%>
    <!-- 左侧菜单栏 -->
    <% layout("../../teacher/include/sider.html",{name:"question"}){} %>
    <!-- 更新模态框 -->
    <%include("update-modal.html"){} %>
    <!-- 新增模态框 -->
    <%include("save-modal.html"){} %>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>试题管理</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/teacher/question">试题管理</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- table 部分 -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">试题信息</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <button class="btn btn-warning btn-sm" id="importBtn">
                                            <i class="fa fa-plus-circle"></i>
                                            导入试题
                                        </button>
                                        &nbsp
                                        <button class="goSave btn btn-success btn-sm"><i class="fa fa-plus-circle"></i>
                                            新增试题
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="card-header">
                                <div class="card-tools">
                                    <div class="input-group">
                                        <select class="typeSelect float-right form-control" name="typeId"
                                                id="findType"></select>&nbsp;
                                        <select class="courseSelect float-right form-control" name="courseId"
                                                id="findCourse"></select>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table id="example2"
                                       class="table table-bordered table-striped"
                                       role="grid">
                                    <tbody>
                                    <tr>
                                        <th style="width: 8%">题目编号</th>
                                        <th style="width:54%">题目名称</th>
                                        <th style="width: 8%">题目类型</th>
                                        <th style="width: 10%">难易程度</th>
                                        <th style="width: 15%">操作</th>
                                    </tr>
                                    <% if(isEmpty(page.list)){ %>
                                    <tr>
                                        <td colspan="6">题库中还未添加题目</td>
                                    </tr>
                                    <% } %>
                                    <% for( question in page.list ){ %>
                                    <tr class="rowDetail" rel="${question.id}">
                                        <td style="width: 60px">${question.id}</td>
                                        <td style="text-align: left">${question.questionName}</td>
                                        <td style="width: 60px">
                                            ${question.typeId == 1?"单选题":''}
                                            ${question.typeId == 2?"多选题":''}
                                            ${question.typeId == 3?"判断题":''}
                                            ${question.typeId == 4?"填空题":''}
                                            ${question.typeId == 5?"简答题":''}
                                            ${question.typeId == 6?"编程题":''}
                                        </td>
                                        <td class="star" style="width: 60px">
                                            ${question.difficulty == "1"?'★':''}
                                            ${question.difficulty == "2"?'★ ★':''}
                                            ${question.difficulty == "3"?'★ ★ ★':''}
                                        </td>
                                        <td>
                                            <button onclick="goView(${question.id})"
                                                    class="btn btn-primary btn-sm">查看
                                            </button>
                                            <button onclick="goUpdate(${question.id})"
                                                    class="btn btn-warning btn-sm">
                                                编辑
                                            </button>
                                            <button onclick="deleteQuestion(${question.id})"
                                                    class="btn btn-danger btn-sm">删除
                                            </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer clearfix">
                                <ul class="pagination m-0 float-right">
                                    <%for(var i=1;i<=page.pages;i++){ %>
                                    <% if(page.pageNum == i){ %>
                                    <li class="page-item active">
                                        <a class="page-link" href="?p=${i}&courseId=${curCourseId}&typeId=${curTypeId}">${i}</a>
                                    </li>
                                    <%}else{%>
                                    <li class="page-item">
                                        <a class="page-link" href="?p=${i}&courseId=${curCourseId}&typeId=${curTypeId}">${i}</a>
                                    </li>
                                    <%}%>
                                    <% }%>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div><!-- /.row -->
            </div>
        </section>
    </div>
    <!-- 查看模态框 -->
    <%include("view-modal.html"){} %>
    <!-- 导入试题 -->
    <%include("import-modal.html"){}%>
    <!-- 引入footer -->
    <%include("../../include/footer.html"){} %>
</div>
<!-- 引入全局 js 脚本文件 -->
<% include("../../include/js.html"){} %>
<!-- 自定义封装 -->
<script src="/static/js/OesUtil.js"></script>
<!-- 接口 -->
<%include("api.html"){}%>
</body>
</html>


