<!-- 题目查看模态框 -->
<div class="modal fade" id="view-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">查看题目</h4>
        <button type="button" class="close" data-dismiss="modal"><span
            aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <form>
            <div class="form-group">
              <label>题目ID / 编号 </label>
              <textarea class="form-control id" readonly="readonly" rows="1"></textarea>
            </div>
            <div class="form-group">
              <label>名称 </label>
              <textarea class="form-control questionName" readonly="readonly" rows="2"></textarea>
            </div>
            <div class="form-group">
              <label>答案 </label>
              <textarea class="form-control answer" rows="5" readonly="readonly"></textarea>
            </div>
            <div class="form-group">
              <label>所属课程 </label>
              <input class="form-control course" readonly="readonly"/>
            </div>
            <div class="form-group">
              <label>出题人 </label>
              <input class="form-control teacherName" readonly="readonly"/>
            </div>
            <div class="form-group">
              <label>解析 </label>
              <input class="form-control remark" readonly="readonly"/>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>