<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OES | 试卷列表</title>
    <!-- 引入全局 css 文件 -->
    <% include("../../include/css.html"){} %>
    <style>
        .table > tbody > tr:hover {
            cursor: pointer;
        }

        .table > tbody > tr > td {
            vertical-align: middle;
        }

        th {
            font-size: 15px;
            text-align: center;
        }

        td {
            font-size: 15px;
            text-align: center;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
    <!-- 引入头部 -->
    <% include("../../teacher/include/header.html"){} %>
    <!-- 左侧菜单栏 -->
    <% layout("../../teacher/include/sider.html",{name:"paper"}){} %>
    <!-- 右侧内容部分 -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>试卷管理</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="/teacher/paper">试卷管理</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <!-- table 部分 -->
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">试卷列表</h3>
                                <div class="card-tools">
                                    <div class="input-group input-group-sm">
                                        <a href="/teacher/paper/import" class="btn btn-default btn-sm"><i class="fa fa-plus-circle"></i> 导入试题</a>&nbsp;
                                        <a id="goSave" class="btn btn-default btn-sm"><i class="fa fa-plus-circle"></i> 随机组卷</a>&nbsp;
                                        <a href="/teacher/paperForm" class="btn btn-default btn-sm"><i class="fa fa-search"></i> 查看模版</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-bordered table-striped table-head-fixed text-nowrap">
                                    <tbody>
                                    <tr>
                                        <th>序号</th>
                                        <th>试卷编号</th>
                                        <th>试卷名称</th>
                                        <th>试卷状态</th>
                                        <th>试卷类型</th>
                                        <th>操作</th>
                                    </tr>
                                    <% if( isEmpty(page.list) ){ %>
                                    <tr>
                                        <td colspan="6">试卷库中还未添加试卷</td>
                                    </tr>
                                    <% } %>
                                    <% for( paper in page.list ){ %>
                                    <tr class="rowDetail" rel="${paper.id}">
                                        <td>${paperLP.index}</td>
                                        <td>No. ${paper.id}</td>
                                        <td>${paper.paperName}</td>
                                        <td>
                                            <% if(paper.end){ %>
                                            已结束
                                            <% }else if(paper.start){ %>
                                            考试中
                                            <% }else{ %>
                                            未开始
                                            <% } %>
                                        </td>
                                        <td>${paper.paperType}考试</td>
                                        <td>
                                            <button class="btn btn-info btn-sm viewBtn" onclick="viewPaper(${paper.id})">查看试卷 </button>
                                        </td>
                                    </tr>
                                    <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer clearfix">
                                <ul class="pagination m-0 float-right">
                                    <%for(var i=1;i<=page.pages;i++){ %>
                                    <% if(page.pageNum == i){ %>
                                    <li class="page-item active">
                                        <a class="page-link"
                                           href="?p={{i}}">${i}</a>
                                    </li>
                                    <%}else{%>
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="?p={{i}}">${i}</a>
                                    </li>
                                    <%}%>
                                    <% }%>
                                </ul>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.row -->
        </section>
    </div>
    <!-- 引入footer -->
    <% include("../../include/footer.html"){} %>
</div>
<!-- 引入全局 js 脚本文件 -->
<% include("../../include/js.html"){} %>
<!-- 自定义工具 -->
<script src="/static/js/OesUtil.js"></script>
<%include("api/list-api.html"){} %>
</body>
</html>


