<!DOCTYPE html>
<html lang="zh_CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>OES | 教师端</title>
  <!-- 引入全局 css 文件 -->
  <%include("../../include/css.html"){} %>
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
<div class="wrapper">
  <!-- 引入头部 -->
  <% include("../include/header.html"){} %>
  <!-- 左侧菜单栏 -->
  <% layout("../include/sider.html",{name:"paper"}){} %>
  <!-- 引入全局 js 脚本文件 -->
  <% include("../../include/js.html"){} %>
  <!-- 右侧内容部分 -->
  <div class="content-wrapper">
    <%
    #ajax paperTable:{
    %>
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>试卷管理</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/teacher/paper">试卷管理</a></li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- table 部分 -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">试卷列表</h3>
                <div class="card-tools">
                  <div class="input-group input-group-sm">
                    <button onclick="goImport()" class="btn btn-default btn-sm">导入试题</button>&nbsp;
                    <button onclick="goRandom()" class="btn btn-default btn-sm">随机组卷</button>&nbsp;
                    <button onclick="goPaperForm()" class="btn btn-default btn-sm">查看模版</button>&nbsp;
                    <button class="btn btn-default btn-sm"
                            onclick="OesUtil.refreshTable('#paperInfo');">刷新数据
                    </button>
                  </div>
                </div>
              </div>

              <!-- 条件查询框 -->
              <div class="card-header">
                <div class="card-tools">
                  <div class="row">
                    <div class="col-sm-6">
                      <input id="findPaperName" class="form-control "
                             style="width: 250px" placeholder="试卷名称">
                    </div>
                    <div class="col-sm-6">
                      <select class="courseSelect  form-control" name="courseId"
                              id="findCourse"></select>
                    </div>
                  </div>
                </div>
              </div>

              <!-- /.card-header -->
              <div class="card-body">
                <table id="paperInfo"
                       class="table table-bordered table-striped text-nowrap"></table>
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
      </div><!-- /.row -->
    </section>
    <%include("api/list-api.html"){} %>
    <%}%>
  </div>
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- 引入footer -->
  <% include("../../include/footer.html"){}%>
  <%include("../main/api.html"){}%>
  <!-- Control Sidebar -->
</div>
</body>
</html>


